body {
    display: flex;
    margin: 50px;
    gap: 100px;
}

form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 0px;
}
p {
    margin: 5px;
}

.translated-container__translated-text {
    width: 600px;
    height: 200px;
    border: 2px solid black;
    font-size: 36px;
}
