body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  gap: 100px;
}

form {
  text-align: center;
  width: 600px;
  display: flex;
  flex-direction: column;
}

.translated-container {
  text-align: center;
}
.translated-container__heading {
  margin: 0px;
}
.translated-container__translated-text {
  text-align: left;
  width: 600px;
  height: 200px;
  border: 2px solid black;
  font-size: 36px;
  margin: 5px;
}
